# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage
*.out

# Go workspace
go.work
go.work.sum

# Dependency directory
vendor/

# Build output
/bin/
/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

tpgz-server

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
